doctype html
html
head
	meta(charset="utf-8")
	title= 2048

	link(href="/stylesheets/main.css", rel="stylesheet", type="text/css")
	link(rel="shortcut icon", href="/images/favicon.ico")
	link(rel="apple-touch-icon" href="/meta/apple-touch-icon.png")
	meta(name="apple-mobile-web-app-capable", content="yes")

	meta(name="HandheldFriendly", content="True")
	meta(name="MobileOptimized", content="320")
	meta(name="viewport", content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui")
body
	div.container
		div.heading
			h1.title 2048
			div.scores-container
				div.score-container 0
				div.best-container 0
		p.game-intro Join the numbers and get to the <strong>2048 tile!</strong>

		div.game-container
			div.game-message
				p
				div.lower
					a.keep-playing-button Keep going
					a.retry-button Try again
			
			div.grid-container
				div.grid-row
					div.grid-cell
					div.grid-cell
					div.grid-cell
					div.grid-cell
				div.grid-row
					div.grid-cell
					div.grid-cell
					div.grid-cell
					div.grid-cell
				div.grid-row
					div.grid-cell
					div.grid-cell
					div.grid-cell
					div.grid-cell
				div.grid-row
					div.grid-cell
					div.grid-cell
					div.grid-cell
					div.grid-cell
			div.tile-container

		p.game-explanation <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong>
		hr
	script(src="javascripts/animframe_polyfill.js")
	script(src="javascripts/keyboard_input_manager.js")
	script(src="javascripts/html_actuator.js")
	script(src="javascripts/grid.js")
	script(src="javascripts/tile.js")
	script(src="javascripts/local_score_manager.js")
	script(src="javascripts/game_manager.js")
	script(src="javascripts/application.js")